* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(255, 255, 255);
    
}

.memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px; 
}

.card {
    height: calc( 33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; 
    transition: transform .9s; 
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  backface-visibility: hidden; 
}

.card-front {
    transform: rotateY(180deg); 
}


.card.flip {
    transform: rotateY(180deg);
}

/* RESPONSIVIDADE */

@media (max-width: 360px) {

    body { overflow-x: hidden; }

    .cards { /* texto acima do card*/
        margin: 0;
        padding: 0;
    }

    .memory-game{ /*container que engloba todos os cards*/
        max-width: 360px;
        align-items: center;
        margin-left: 10px;
    }

    .card {  /*cada card*/
        width: 30%;
        height: 30%;
    }
}


@media (max-width: 441px) {
    body { overflow-x: hidden; }

    .cards { /* texto acima do card*/
        margin: 0;
        padding: 0;
    }

    .memory-game{ /*container que engloba todos os cards*/
        max-width: 360px;
        align-items: center;
        margin-left: 10px;
    }

    .card {  /*cada card*/
        width: 30%;
        height: 30%;
    }
}

@media (max-width: 540px) { 
    body { overflow-x: hidden;}

    .cards { /* texto acima do card*/
        margin: 0;
        padding: 0;
    }

    .memory-game{ /*container que engloba todos os cards*/
        max-width: 530px;
        align-items: center;
        margin: 5px;
    }

   
}

@media (max-width: 280px) {
    body { overflow-x: hidden; }

    .cards { /* texto acima do card*/
        margin-top: 10px;
        width: 280px;
    }
/*
    <div class="cards mx-auto" style="width: 25rem;">
    <div class="card-body"  align="center">
      <h5 class="card-title">Bem vindo ao jogo da memoria!</h5>
      <h6 class="card-subtitle mb-2 text-muted">pronto para iniciar?</h6>
      <p class="card-text">Para jogar clique nas cartas e encontre o seu par.</p>

      <a href="#" id="movimento" class="card-link">Movimentos: </a> <br/>
      <button class="btn btn-outline-dark" id="btnReset" onclick="resetCards()">Jogar novamente</button>
    </div>
  </div> */

    .memory-game{ /*container que engloba todos os cards*/
        max-width: 355px;
        align-items: center;
        margin-left: 10px;
    }

    .card {  /*cada card*/
        width: 30%;
        height: 30%;
    }
}